<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/default">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="../../resources/metisMenu/dist/metisMenu.min.js"
            th:src="@{/resources/metisMenu/dist/metisMenu.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/metisMenu/dist/metisMenu.css"
          th:href="@{/resources/metisMenu/dist/metisMenu.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2>Input Data Pegawai</h2>

        <div class="col-md-12">
            <form th:object="${pegawai}" th:action="@{/pegawai/save}" action="#" method="post" class="form-horizontal">

                <div class="form-group row">
                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="detailedError : ${#fields.detailedErrors()}">
                            <span th:text="${detailedError.message}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nama" class="col-sm-2">Pegawai ID : </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="id" th:field="*{pegawaiId}"
                               readOnly="readonly"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nama" class="col-sm-2">Nama Lengkap : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{nama}" class="form-control" id="nama" aria-describedby="nama"
                               placeholder="Nama Lengkap" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tempatLahir" class="col-sm-2">Tempat Lahir : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{tempatLahir}" class="form-control" id="tempatLahir"
                               aria-describedby="nama"
                               placeholder="Tempat Lahir" required>
                    </div>

                    <label for="tglLahir" class="col-sm-2">Tanggal Lahir : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{tglLahir}" class="form-control" id="tglLahir"
                               aria-describedby="nama">
                    </div>
                </div>

                <div class="form-group">
                    <label for="sex" class="col-sm-2">Jenis Kelamin :</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="sex" th:field="*{sex}" required>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>

                    </div>
                    <label for="pendidikan" class="col-sm-2">Pendidikan : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="pendidikan" th:field="*{pendidikan}" required>
                            <option value="SD">SD</option>
                            <option value="SMP">SMP</option>
                            <option value="SMA">SMA</option>
                            <option value="D1">D-I</option>
                            <option value="D2">D-II</option>
                            <option value="D3">D-III</option>
                            <option value="D4">D-IV</option>
                            <option value="S1">S1</option>
                            <option value="S2">S2</option>
                            <option value="S3">S3</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="agama" class="col-sm-2">Agama : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="agama" th:field="*{agama}" required>
                            <option value="Islam">Islam</option>
                            <option value="Protestan">Protestan</option>
                            <option value="Katolik">Katolik</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                        </select>

                    </div>

                </div>

                <div class="form-group">
                    <label for="namaSekolah" class="col-sm-2">Nama Sekolah : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{namaSekolah}" class="form-control"
                               placeholder="Nama Sekolah" required/>
                    </div>

                </div>

                <div class="form-group">
                    <label for="jurusan" class="col-sm-2">Jurusan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jurusan}" class="form-control"
                               placeholder="Jurusan" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tahunLulus" class="col-sm-2">Tahun Lulus : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{tahunLulus}" class="form-control"
                               placeholder="Tahun Lulus" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="struktural" class="col-sm-2">Jabatan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{struktural}" class="form-control"
                               placeholder="Jabatan" required/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="awalKerja" class="col-sm-2">Awal Kerja : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{awalKerja}" class="form-control"
                               placeholder="Awal Kerja" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="akhirKerja" class="col-sm-2">Akhir Kerja : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{akhirKerja}" class="form-control"
                               placeholder="Akhir Kerja" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"></input>
                        <input type="reset" class="btn btn-warning" value="Cancel"></input>

                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
</body>
</html>


</body>
</html>