<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2 th:text="'' + ${title} + ' Data Pegawai'"></h2>

        <div class="col-md-12">
            <form th:object="${pegawai}" th:action="@{/pegawai/save}" action="#" method="post" class="form-horizontal">


                <input type="hidden" name="id" th:field="*{id}">

                <div class="form-group">
                    <label for="nama" class="col-sm-2">Pegawai ID : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{pegawaiId}" class="form-control" id="nama"
                               aria-describedby="pegawaiId"
                               placeholder="Pegawai ID" required>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-2">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bidang.id}" id="id">
                            <option th:each="b : ${listBidang}" th:value="${b.id}"
                                    th:text="${b.kdBidang}+' : '+${b.namaBidang}" th:selected="${b.id}"></option>
                        </select>
                    </div>
                </div>

                <div class=" form-group">
                    <label for="nama" class="col-sm-2">Nama Lengkap : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{nama}" class="form-control" id="nama" aria-describedby="nama"
                               placeholder="Nama Lengkap" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tempatLahir" class="col-sm-2">Tempat Lahir : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{tempatLahir}" class="form-control" id="tempatLahir"
                               aria-describedby="nama"
                               placeholder="Tempat Lahir" required>
                    </div>

                    <label for="tglLahir" class="col-sm-2">Tanggal Lahir : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{tglLahir}" class="form-control" id="tglLahir"
                               placeholder="DD-MM-YYYY" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"
                               title="Enter a date in this formart DD-MM-YYYY"
                               aria-describedby="nama">
                    </div>
                </div>

                <div class="form-group">
                    <label for="sex" class="col-sm-2">Jenis Kelamin :</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="sex" th:field="*{sex}" required>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>

                    </div>
                    <label for="pendidikan" class="col-sm-2">Pendidikan : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="pendidikan" th:field="*{pendidikan}" required>
                            <option value="SD">SD</option>
                            <option value="SMP">SMP</option>
                            <option value="SMA">SMA</option>
                            <option value="D1">D-I</option>
                            <option value="D2">D-II</option>
                            <option value="D3">D-III</option>
                            <option value="D4">D-IV</option>
                            <option value="S1">S1</option>
                            <option value="S2">S2</option>
                            <option value="S3">S3</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="agama" class="col-sm-2">Agama : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="agama" th:field="*{agama}" required>
                            <option value="Islam">Islam</option>
                            <option value="Protestan">Protestan</option>
                            <option value="Katolik">Katolik</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                        </select>

                    </div>

                </div>

                <div class="form-group">
                    <label for="noTelpon" class="col-sm-2">Nomor Telpon : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{noTelpon}" class="form-control"
                               placeholder="Nomor Telpon" required/>

                    </div>

                </div>


                <div class="form-group">
                    <label for="statusMerital" class="col-sm-2">Status Merital : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="statusMerital" th:field="*{statusMerital}" required>
                            <option value="Single">Single</option>
                            <option value="Menikah">Menikah</option>
                            <option value="Duda">Duda</option>
                            <option value="Janda">Janda</option>
                        </select>

                    </div>

                </div>

                <div class="form-group">
                    <label for="jmlAnak" class="col-sm-2">Jumlah Anak : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jmlAnak}" class="form-control"
                               placeholder="Jumlah Anak" required/>

                    </div>

                </div>

                <div class="form-group">
                    <label for="alamat" class="col-sm-2">Alamat : </label>
                    <div class="col-sm-4">
                        <textarea cols="60" rows="10" th:field="*{alamat}" placeholder="Alamat" required></textarea>

                    </div>
                </div>

                <div class="form-group">
                    <label for="namaSekolah" class="col-sm-2">Nama Sekolah : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{namaSekolah}" class="form-control"
                               placeholder="Nama Sekolah" required/>
                    </div>

                </div>

                <div class="form-group">
                    <label for="jurusan" class="col-sm-2">Jurusan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jurusan}" class="form-control"
                               placeholder="Jurusan" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tahunLulus" class="col-sm-2">Tahun Lulus : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{tahunLulus}" class="form-control"
                               placeholder="Tahun Lulus" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jabatan" class="col-sm-2">Jabatan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jabatan}" class="form-control"
                               placeholder="Jabatan" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="awalKerja" class="col-sm-2">Awal Kerja : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{awalKerja}" class="form-control"
                               placeholder="Awal Kerja" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="akhirKerja" class="col-sm-2">Akhir Kerja : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{akhirKerja}" class="form-control"
                               placeholder="Akhir Kerja" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"></input>
                        <input type="reset" class="btn btn-info" value="Reset"></input>
                        <a th:href="@{/pegawai/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
</body>
</html>

<script>
    $(function () {
        // Check if the browser supports the date input type
        if (!Modernizr.inputtypes.date) {
            // Add the jQuery UI DatePicker to all
            // input tags that have their type attributes
            // set to 'date'
            $('input[type=date]').datepicker({
                // specify the same format as the spec
                dateFormat: 'dd-mm-yyyy'
            });
        }
    });
</script>

</body>
</html>