<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Daftar Pegawai</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <!--<div class="container-fluid">-->

    <!--<h2>Daftar Pegawai</h2>-->

    <!--<div class="panel-body">-->

    <!--<table class="table table-responsive table-sm table-striped table-hover table-bordered">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>ID Pegawai</th>-->
    <!--<th>Bidang</th>-->
    <!--<th>Nama Lengkap</th>-->
    <!--<th>Tanggal Lahir</th>-->
    <!--<th>Usia</th>-->
    <!--<th>Jenis Kelamin</th>-->
    <!--<th>Pendidikan Terakhir</th>-->
    <!--<th>Nama Sekolah / Universitas</th>-->
    <!--<th>Jurusan</th>-->
    <!--<th>Tahun Kelulusan</th>-->
    <!--<th>Jabatan</th>-->
    <!--<th>Masa Kerja</th>-->
    <!--<th>Aksi</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr th:each="p,i : ${pegawai}">-->
    <!--<td align="center" th:text="${i.index + 1}">1</td>-->
    <!--<td align="center" th:text="${p.pegawaiId}">1</td>-->
    <!--<td align="center" th:text="${p.bidang.namaBidang}">1</td>-->
    <!--<td align="center" th:text="${p.nama}">Dewi Purnamasari</td>-->
    <!--<td align="center" th:text="${#dates.format(p.tglLahir, 'dd-MM-yyyy')}">10-10-2010</td>-->
    <!--<td align="center" th:text="${p.usia}">17 Tahun</td>-->
    <!--<td align="center" th:text="${p.sex}">Perempuan</td>-->
    <!--<td align="center" th:text="${p.pendidikan}">S1</td>-->
    <!--<td align="center" th:text="${p.namaSekolah}">Politeknik Piksi Ganesha</td>-->
    <!--<td align="center" th:text="${p.jurusan}">Komputerisasi Akuntansi</td>-->
    <!--<td align="center" th:text="${p.tahunLulus}">2018</td>-->
    <!--<td align="center" th:text="${p.jabatan}">Kepala Dinas</td>-->
    <!--<td align="center" th:text="${p.masaKerja}">10-10-2010</td>-->
    <!--<td align="center">-->

    <!--<div class="btn-group pull-right">-->
    <!--<a class="btn btn-sm btn-warning"-->
    <!--th:href="@{/pegawai/{id}(id=${p.id},aksi=view)}">View</a>-->
    <!--<a class="btn btn-sm btn-primary"-->
    <!--th:href="@{/pegawai/{id}(id=${p.id},aksi=edit)}">Edit</a>-->
    <!--<a class="delete btn btn-sm btn-danger"-->
    <!--onclick="return confirm('Are you sure you want to delete this item?');"-->
    <!--th:href="@{/pegawai/delete/{id}(id=${p.id})}">Delete</a>-->
    <!--</div>-->

    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <!--</div>-->
    <!--</div>-->

    <div class="container">
        <h1 align="center">Daftar Pegawai</h1>
        <p><a class="btn btn-primary" th:href="@{/pegawai/add}">Input Data Pegawai</a></p>
        <table id="pegawai" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nama Lengkap</th>
                <th>Bidang</th>
                <th>Tanggal Lahir</th>
                <th>Usia</th>
                <th>Jenis Kelamin</th>
                <th>Pendidikan Terakhir</th>
                <th>Nama Sekolah / Universitas</th>
                <th>Jurusan</th>
                <th>Tahun Kelulusan</th>
                <th>Jabatan</th>
                <th>Masa Kerja</th>
                <th colspan="3">Aksi</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
        </table>
    </div>
    <script src="/js/pegawai.js"></script>

</div>
</body>
</html>






