<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">
        <h2>View Details Data Pegawai</h2>
        <div class="col-sm-8">
            <div class="panel panel-green">
                <div class="panel-heading">Info Details Pegawai</div>
                <div class="panel-body" style="padding-left: 5px;">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th width="35%">ID Pegawai</th>
                            <td><span th:text="${pegawai.pegawaiId}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Nama Lengkap</th>
                            <td><span th:text="${pegawai.nama}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Nama Bidang</th>
                            <td><span th:text="${pegawai.bidang.namaBidang}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Tempat Lahir</th>
                            <td><span th:text="${pegawai.tempatLahir}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Tanggal Lahir</th>
                            <td><span th:text="${#dates.format(pegawai.tglLahir, 'dd-MM-yyyy')}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Usia</th>
                            <td><span th:text="${pegawai.usia}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Jenis Kelamin</th>
                            <td><span th:text="${pegawai.sex}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Agama</th>
                            <td><span th:text="${pegawai.agama}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Nomor Telpon</th>
                            <td><span th:text="${pegawai.noTelpon}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Status Merital</th>
                            <td><span th:text="${pegawai.statusMerital}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Jumlah Anak</th>
                            <td><span th:text="${pegawai.jmlAnak}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Alamat</th>
                            <td><span th:text="${pegawai.alamat}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Pendidikan</th>
                            <td><span th:text="${pegawai.namaSekolah}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Jurusan</th>
                            <td><span th:text="${pegawai.jurusan}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Tahun Lulus</th>
                            <td><span th:text="${pegawai.tahunLulus}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Jabatan</th>
                            <td><span th:text="${pegawai.jabatan}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Awal Kerja</th>
                            <td><span th:text="${#dates.format(pegawai.awalKerja, 'dd-MM-yyyy')}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Akhir Kerja</th>
                            <td><span th:text="${#dates.format(pegawai.akhirKerja, 'dd-MM-yyyy')}"/></td>
                        </tr>
                        <tr>
                            <th width="35%">Masa Kerja</th>
                            <td><span th:text="${pegawai.masaKerja}"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <a th:href="@{/pegawai/list}" class="btn btn-warning btn-lg"> <i
                            class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                        to List</a>

                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>


</body>
</html>