<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="../../static/js/jquery.3.3.1.js" th:src="@{/js/jquery.3.3.1.js}"></script>
        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" th:unless="isTemplate"></script>
        <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}" th:unless="isTemplate"></script>
        <script src="../../static/js/jquery.formatCurrency-1.4.0.js"
                th:src="@{/js/jquery.formatCurrency-1.4.0.js}"></script>
        <script src="../../resources/metisMenu/dist/metisMenu.min.js"
                th:src="@{/resources/metisMenu/dist/metisMenu.min.js}" th:unless="isTemplate"></script>
        <!--<link rel="stylesheet" type="text/css" media="screen" href="/static/css/common.css" th:href="@{css/common.css}"-->
        <!--th:unless="isTemplate"/>-->
        <link th:href="@{/css/common.css}" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
              th:href="@{/css/sb-admin-2.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../resources/metisMenu/dist/metisMenu.css"
              th:href="@{/resources/metisMenu/dist/metisMenu.min.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen"
              href="../../resources/font-awesome/css/font-awesome.min.css"
              th:href="@{/resources/font-awesome/css/font-awesome.min.css}" th:unless="isTemplate"/>
    </head>
    <body>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div th:replace="fragments/header :: div">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
                    </div>
                    <!-- /.navbar-header -->
                </div>

                <div class="navbar-default sidebar" role="navigation" th:replace="fragments/sidebar :: div">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    Side Bar Menu
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->

            </nav>

            <!-- Page Content -->
            <div id="page-wrapper" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Blank</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <script type="javascript">

                        $("#golongan").on("change", function () {
                            alert(this.value);
                            console.log(this.value);
                        });

                        $("#golongan").on("change", function () {
                            var pangkatObject = {
                                "I-A": "Juru Muda",
                                "I-B": "Juru Muda Tingkat I",
                                "I-C": "Juru",
                                "I-D": "Juru Tingkat I",
                                "II-A": "Pengatur Muda",
                                "II-B": "Pengatur Muda Tk I",
                                "II-C": "Pengatur",
                                "II-D": "Pengatur Tingkat I",
                                "III-A": "Penata Muda",
                                "III-B": "Penata Muda Muda Tk I",
                                "III-C": "Penata",
                                "III-D": "Penata Tingkat I",
                                "IV-A": "Pembina Muda",
                                "IV-B": "Pembina Muda Muda Tk I",
                                "IV-C": "Pembina",
                                "IV-D": "Pembina Tingkat I",
                                "IV-E": "Pembina Utama",

                            };

                            var value = $(this).val();

                            $("#pangkat").val(pangkatObject[value]);
                        });

                        var jumlah = document.getElementById('jumlah');
                        var bpjsTk = document.getElementById('bpjsTk');
                        var bpjsKs = document.getElementById('bpjsKs');
                        var pph = document.getElementById('pph');
                        jumlah.addEventListener('keyup', function (e) {
                            jumlah.value = formatRupiah(this.value, 'Rp. ');
                        });
                        bpjsTk.addEventListener('keyup', function (e) {
                            bpjsTk.value = formatRupiah(this.value, 'Rp. ');
                        });
                        bpjsKs.addEventListener('keyup', function (e) {
                            bpjsKs.value = formatRupiah(this.value, 'Rp. ');
                        });
                        pph.addEventListener('keyup', function (e) {
                            pph.value = formatRupiah(this.value, 'Rp. ');
                        });

                        /* Fungsi Format Rupiah */
                        function formatRupiah(angka, prefix) {
                            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                                split = number_string.split(','),
                                sisa = split[0].length % 3,
                                rupiah = split[0].substr(0, sisa),
                                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                            if (ribuan) {
                                separator = sisa ? '.' : '';
                                rupiah += separator + ribuan.join('.');
                            }

                            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
                        }


                    </script>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>


</html>