<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>-->
    <script src="../../static/js/jquery.3.3.1.js" th:src="@{/js/jquery.3.3.1.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="../../static/js/jquery.formatCurrency-1.4.0.js"
            th:src="@{/js/jquery.formatCurrency-1.4.0.js}"></script>
    <script src="../../static/js/terbilang.js" th:src="@{/js/terbilang.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2>Input Data Pagu</h2>

        <div class="col-md-12">
            <form th:object="${pagu}" th:action="@{/pagu/save}" action="#" method="post" class="form-horizontal">

                <input type="hidden" name="id" th:field="*{id}">

                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-2">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bidang.id}" id="id">
                            <option th:each="b : ${listBidang}" th:value="${b.id}"
                                    th:text="${b.kdBidang}+' : '+${b.namaBidang}" th:selected="${b.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dpaId" class="col-sm-2">Nomor DPA : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{dpaId}" class="form-control" size="2" placeholder="Nomor DPA"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kdProgram" class="col-sm-2">Kode Program : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{kdProgram}" class="form-control" size="2"
                               placeholder="Kode Program"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kdKegiatan" class="col-sm-2">Kode Kegiatan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{kdKegiatan}" class="form-control" size="2"
                               placeholder="Kode Kegiatan"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kdRekening" class="col-sm-2">Kode Rekening : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{kdRekening}" class="form-control" size="2"
                               placeholder="Kode Rekening"
                               required>
                    </div>
                </div>

                <div class=" form-group">
                    <label for="jmlAnggaran" class="col-sm-2">Jumlah Anggaran : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jmlAnggaran}" id="jmlAnggaran" class="form-control currency"
                               value="Rp. 1,220.00"
                               placeholder="Jumlah Anggaran" required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="jmlOrang" class="col-sm-2">Jumlah Orang : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{jmlOrang}" class="form-control"
                               placeholder="Jumlah Orang" required/>
                    </div>

                </div>


                <div class="form-group">
                    <label for="jmlBulan" class="col-sm-2">Jumlah Bulan : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{jmlBulan}" class="form-control"
                               placeholder="Jumlah Bulan" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"/>
                        <input type="reset" class="btn btn-info" value="Reset"/>
                        <a th:href="@{/pagu/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>
    </div>
    <script src="../../static/js/rupiah.js" th:src="@{/js/rupiah.js}"></script>
</div>


</body>
</html>
