<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Pagu</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">

        <h2>Daftar Pagu</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr align="center">
                    <th>#</th>
                    <th>DPA ID</th>
                    <th>Nama Bidang</th>
                    <th>Kode Program</th>
                    <th>Kode Kegiatan</th>
                    <th>Kode Rekening</th>
                    <th>Jumlah Anggaran</th>
                    <th>Jumlah Bulan</th>
                    <th>Jumlah Orang</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,i  : ${pagu}">
                    <td align="center" th:text="${i.index + 1}">1</td>
                    <td align="center" th:text="${p.dpaId}">1</td>
                    <td align="center" th:text="${p.bidang.namaBidang}">1</td>
                    <td align="center" th:text="${p.kdProgram}">1</td>
                    <td align="center" th:text="${p.kdKegiatan}">1</td>
                    <td align="center" th:text="${p.kdRekening}">1</td>
                    <td align="right" th:text="${#numbers.formatDecimal(p.jmlAnggaran, 0, 'COMMA', 2, 'POINT')}">$100
                    </td>
                    <td align="center" th:text="${p.jmlBulan}">1</td>
                    <td align="center" th:text="${p.jmlOrang}">1</td>
                    <td align="center">
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{/pagu/edit/{id}(id=${p.id})}">Edit</a>
                            <a class="delete btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?')" ;
                               th:href="@{/pagu/delete/{id}(id=${p.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>

</body>
</html>
