<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Edit Data Jabatan</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2>Edit Data Jabatan</h2>

        <div class="col-md-12">
            <form th:object="${jabatan}" th:action="@{/jabatan/save}" action="#" method="post" class="form-horizontal">

                <div class="form-group row">
                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="detailedError : ${#fields.detailedErrors()}">
                            <span th:text="${detailedError.message}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nama" class="col-sm-2">ID : </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" th:field="*{jabatanId}"
                               readOnly="readonly"/>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-2">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bidang.id}" id="id">
                            <option th:each="b : ${listBidang}" th:value="${b.id}"
                                    th:text="${b.kdBidang}+' : '+${b.namaBidang}" th:selected="${b.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nip" class="col-sm-2">NIP : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{nip}" class="form-control" id="nip"
                               aria-describedby="nip"
                               placeholder="Nomor Induk Pegawai" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nama" class="col-sm-2">Nama Lengkap : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{nama}" class="form-control" id="nama" aria-describedby="nama"
                               placeholder="Nama Lengkap" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="golongan" class="col-sm-2">Golongan : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="golongan" th:field="*{golongan}" required>
                            <option value="I-A">I-A</option>
                            <option value="I-B">I-B</option>
                            <option value="I-C">I-C</option>
                            <option value="I-D">I-D</option>
                            <option value="II-A">II-A</option>
                            <option value="II-B">II-B</option>
                            <option value="II-C">II-C</option>
                            <option value="II-D">II-D</option>
                            <option value="III-A">III-A</option>
                            <option value="III-B">III-B</option>
                            <option value="III-C">III-C</option>
                            <option value="III-D">III-D</option>
                            <option value="IV-A">IV-A</option>
                            <option value="IV-B">IV-B</option>
                            <option value="IV-C">IV-C</option>
                            <option value="IV-D">IV-D</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="pangkat" class="col-sm-2">Pangkat : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{pangkat}" class="form-control"
                               placeholder="Pangkat" required/>
                    </div>

                </div>

                <div class="form-group">
                    <label for="struktural" class="col-sm-2">Jabatan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{struktural}" class="form-control"
                               placeholder="Jabatan" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fungsional" class="col-sm-2">Fungsional : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{fungsional}" class="form-control"
                               placeholder="Fungsional" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"/>
                        <a th:href="@{/jabatan/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>

    </div>
    <script src="../../static/js/golongan.js" th:src="@{/js/golongan.js}"></script>
</div>
</body>
</html>


</body>
</html>