<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Pengguna Anggaran</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">

        <h2>Daftar Jabatan</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align="center">#</th>
                    <th align="center">NIP</th>
                    <th align="center">Nama Lengkap</th>
                    <th align="center">Bidang</th>
                    <th align="center">Golongan</th>
                    <th align="center">Pangkat</th>
                    <th align="center">Jabatan Struktural</th>
                    <th align="center">Jabatan Fungsional</th>
                    <th align="center">Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,i : ${jabatan}">
                    <td align="center" th:text="${i.index + 1}">1</td>
                    <td align="center" th:text="${p.nip}">1</td>
                    <td align="center" th:text="${p.nama}">1</td>
                    <td align="center" th:text="${p.bidang.namaBidang}">1</td>
                    <td align="center" th:text="${p.golongan}">1</td>
                    <td align="center" th:text="${p.pangkat}">1</td>
                    <td align="center" th:text="${p.struktural}">1</td>
                    <td align="center" th:text="${p.fungsional}">1</td>
                    <td align="center">
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{/jabatan/edit/{id}(id=${p.jabatanId})}">Edit</a>
                            <a class="delete btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?');"
                               th:href="@{/jabatan/delete/{id}(id=${p.jabatanId})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>

</body>
</html>