<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

    <!--<script src="../../static/js/currency.min.js" th:src="@{/js/currency.min.js}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/common.css"
          th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">

        <h2 th:text="'' + ${title} + ' Perhitungan Gaji'"></h2>

        <div class="col-md-12">
            <form th:object="${gaji}" th:action="@{/gaji/save}" action="#" method="post" class="form-horizontal">

                <div class="form-group">
                    <label for="gajiId" class="col-sm-3">Gaji Id :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="gajiId" th:field="*{gajiId}" readonly>
                    </div>
                </div>


                <div class="form-group">
                    <label for="nama" class="col-sm-3">Nama Lengkap : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{nama}" class="form-control" id="nama" aria-describedby="nama"
                               placeholder="Nama Lengkap" required>
                    </div>
                </div>

                <div class=" form-group">
                    <label for="noRekening" class="col-sm-3">Nomor Rekening : </label>
                    <div class="col-sm-4">
                        <input type="number" th:field="*{noRekening}" class="form-control" id="noRekening"
                               aria-describedby="noRekening"
                               placeholder="Nomor Rekening" required>
                    </div>
                </div>


                <div class=" form-group">
                    <label for="namaBank" class="col-sm-3">Nama Bank : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{namaBank}" class="form-control" id="namaBank"
                               aria-describedby="namaBank"
                               placeholder="Nama Bank" required>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-3">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bidang.id}" id="id">
                            <option th:each="b : ${listBidang}" th:value="${b.id}"
                                    th:text="${b.kdBidang}+' : '+${b.namaBidang}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="bulan" class="col-sm-3">Bulan :</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="bulan" th:field="*{bulan}" required>
                            <option value="1">Januari</option>
                            <option value="2">Februari</option>
                            <option value="3">Maret</option>
                            <option value="4">April</option>
                            <option value="5">Mei</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">Agustus</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Desember</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="jumlah" class="col-sm-3">Besarnya : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{jumlah}" id="jumlah" class="form-control" placeholder="Jumlah"
                               required>
                    </div>
                </div>

                <h2>POTONGAN - POTONGAN</h2>

                <div class="form-group">
                    <label for="bpjsTk" class="col-sm-3">BPJS Ketenagakerjaan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{bpjsTk}" id="bpjsTk" class="form-control"
                               placeholder="Rp." required/>
                    </div>

                </div>

                <div class="form-group">
                    <label for="bpjsKs" class="col-sm-3">BPJS Kesehatan : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{bpjsKs}" id="bpjsKs" class="form-control"
                               placeholder="Rp." required/>
                    </div>

                </div>

                <div class="form-group">
                    <label for="pph" class="col-sm-3">Pajak PPh 21 : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{pph}" id="pph" class="form-control"
                               placeholder="Rp." required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="total" class="col-sm-3">Total Penerimaan : </label>
                    <div class="col-sm-4">
                        <input type="text" id="total" th:field="*{total}" class="form-control"
                               placeholder="Total Penerimaan" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="terbilang" class="col-sm-3">Terbilang : </label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="terbilang" th:field="*{terbilang}" cols="20" rows="5"
                                  readonly></textarea>
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<label for="terbilang" class="col-sm-3">Currency : </label>-->
                <!--<div class="col-sm-4">-->
                <!--<textarea class="form-control" id="currency" cols="20" rows="5"-->
                <!--readonly></textarea>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label for="tempat" class="col-sm-3">Dikeluarkan di : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{tempat}" class="form-control"
                               placeholder="Dikeluarkan di " required/>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="kpa" class="col-sm-3">Nama KPA : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{kpa.jabatanId}" id="id">
                            <option th:each="b : ${listKpa}" th:value="${b.jabatanId}"
                                    th:text="${b.nip}+' : '+${b.nama}" th:selected="${b.nip}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="bendahara" class="col-sm-3">Nama Bendahara : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bendahara.jabatanId}" id="id">
                            <option th:each="b : ${listBdhr}" th:value="${b.jabatanId}"
                                    th:text="${b.nip}+' : '+${b.nama}" th:selected="${b.nip}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ygMenerima" class="col-sm-3">Yang Menerima : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{ygMenerima}" id="ygMenerima" class="form-control"
                               placeholder="Yang Menerima" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"/>
                        <input type="reset" class="btn btn-info" value="Reset"/>
                        <a th:href="@{/gaji/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>
            </form>
        </div>
        <script src="../../static/js/rupiah2.js" th:src="@{/js/rupiah2.js}"></script>
        <script src="../../static/js/terbilang.js" th:src="@{/js/terbilang.js}"></script>
    </div>
</div>

</body>
</html>

