<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Gaji</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css">

</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <h2>Daftar Gaji </h2>

    <div class="col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">Filter Data Gaji Pegawai</div>
            <div class="panel-body" style="padding-left: 5px;">
                <form th:action="@{/gaji/list}" method="get">
                    <div class="form-group">
                        <label for="bulan" class="col-sm-2">Bulan : </label>
                        <div class="col-sm-2">
                            <select class="form-control" id="bulan" name="bulan" required>
                                <option value="1">Januari</option>
                                <option value="2">Februari</option>
                                <option value="3">Maret</option>
                                <option value="4">April</option>
                                <option value="5">Mei</option>
                                <option value="6">Juni</option>
                                <option value="7">Juli</option>
                                <option value="8">Agustus</option>
                                <option value="9">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">November</option>
                                <option value="12">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="bidang" class="col-sm-2">Bidang : </label>
                        <div class="col-sm-2">
                            <select class="form-control" id="bidang" name="bidang" required>
                                <option value="1">Sekretariat</option>
                                <option value="2">Bina Usaha</option>
                                <option value="3">Perikanan Tangkap</option>
                                <option value="4">Perikanan Budidaya</option>
                                <option value="5">Kelautan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-2" align="right" style="padding-bottom: 5%;">
                            <button class="btn btn-primary" type="submit">Filter</button>
                            <a href="/gaji/list" class="btn btn-warning"
                               aria-pressed="true">RESET</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nama Lengkap</th>
                <th>Nomor Rekening</th>
                <th>Nama Bank</th>
                <th>Nama Bidang</th>
                <th>Bulan</th>
                <th>Pendapatan</th>
                <th>BPJS TK</th>
                <th>BPJS KS</th>
                <th>PPh 21</th>
                <th>Penerimaan</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g,i : ${gaji}">
                <td align="center" th:text="${i.index + 1}">1</td>
                <td align="center" th:text="${g.nama}">1</td>
                <td align="center" th:text="${g.noRekening}">1234567890</td>
                <td align="center" th:text="${g.namaBank}">BCA</td>
                <td align="center" th:text="${g.bidang.namaBidang}">1</td>
                <!--<td align="center" th:text="${g.bulan}">1</td>-->
                <td th:switch="${g.bulan}">
                    <span th:case="'1'">Januari</span>
                    <span th:case="'2'">Februari</span>
                    <span th:case="'3'">Maret</span>
                    <span th:case="'4'">April</span>
                    <span th:case="'5'">Mei</span>
                    <span th:case="'6'">Juni</span>
                    <span th:case="'7'">Juli</span>
                    <span th:case="'8'">Agustus</span>
                    <span th:case="'9'">September</span>
                    <span th:case="'10'">Oktober</span>
                    <span th:case="'11'">November</span>
                    <span th:case="'12'">Desember</span>

                </td>
                <td align="center" th:text="${#numbers.formatDecimal(g.jumlah, 0, 'COMMA', 2, 'POINT')}">1
                </td>
                <td align="center" th:text="${#numbers.formatDecimal(g.bpjsTk, 0, 'COMMA', 2, 'POINT')}">1
                </td>
                <td align="center" th:text="${#numbers.formatDecimal(g.bpjsKs, 0, 'COMMA', 2, 'POINT')}">1
                </td>
                <td align="center" th:text="${#numbers.formatDecimal(g.pph, 0, 'COMMA', 2, 'POINT')}">1</td>
                <td align="center" th:text="${#numbers.formatDecimal(g.total, 0, 'COMMA', 2, 'POINT')}">1
                </td>
                <td align="center">
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-primary"
                           th:href="@{/gaji/edit/{id}(id=${g.gajiId})}">Edit</a>
                        <a class="btn btn-sm btn-info"
                           th:href="@{/gaji/view/{id}(id=${g.gajiId})}">View</a>
                        <a class="delete btn btn-sm btn-danger"
                           onclick="return confirm('Are you sure you want to delete this item?')" ;
                           th:href="@{/gaji/delete/{id}(id=${g.gajiId})}">Delete</a>
                    </div>
            </tr>
            </tbody>
        </table>


        <script src="/js/gaji.js"></script>
    </div>
</div>

</body>
</html>