<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Gaji</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <h2>Daftar Gaji </h2>

    <div class="container">
        <h1 align="center">Daftar Gaji</h1>
        <p><a class="btn btn-primary" th:href="@{/gaji/add}">Input Data Gaji Pegawai</a></p>
        <table id="gaji" class="display">
            <thead>
            <tr>
                <th>#</th>
                <th>Nama Lengkap</th>
                <th>Nomor Rekening</th>
                <th>Nama Bank</th>
                <th>Nama Bidang</th>
                <th>Bulan</th>
                <th>Pendapatan</th>
                <th>BPJS TK</th>
                <th>BPJS KS</th>
                <th>PPh 21</th>
                <th>Penerimaan</th>
                <th colspan="3">Aksi</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
        </table>
    </div>
    <script src="/js/gaji.js"></script>
</div>
</body>
</html>

</body>
</html>