<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Gaji</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <h2>Daftar Gaji </h2>

    <div class="container-fluid">
        <form th:object="${search}" th:action="@{/gaji/findByBulanAndBidang}" method="post">
            <div>
                <div class="col-sm-2 form-group">
                    <label class="control-label">
                        Filter Data
                    </label>

                </div>

                <div class="col-sm-5 form-group">

                    <label class="col-sm-3 control-label" for="bulan">
                        Bulan
                    </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="bulan" th:field="*{bulan}" required>
                            <option value="1">Januari</option>
                            <option value="2">Februari</option>
                            <option value="3">Maret</option>
                            <option value="4">April</option>
                            <option value="5">Mei</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">Agustus</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Desember</option>
                        </select>

                    </div>

                </div>
                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-3">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="id" th:field="*{bidangId}">
                            <option th:each="b : ${listBidang}" th:value="${b.id}"
                                    th:text="${b.kdBidang}+' : '+${b.namaBidang}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" align="right" style="padding-bottom: 5%;">
                    <button class="btn btn-primary" type="submit">Filter</button>
                    <a href="/gaji/list" class="btn btn-warning"
                       aria-pressed="true">RESET</a>
                </div>

            </div>

        </form>

    </div>

    <div class="container-fluid">


        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nama Lengkap</th>
                    <th>Nomor Rekening</th>
                    <th>Nama Bank</th>
                    <th>Nama Bidang</th>
                    <th>Bulan</th>
                    <th>Pendapatan</th>
                    <th>BPJS TK</th>
                    <th>BPJS KS</th>
                    <th>PPh 21</th>
                    <th>Penerimaan</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="g,i : ${gaji}">
                    <td align="center" th:text="${i.index + 1}">1</td>
                    <td align="center" th:text="${g.nama}">1</td>
                    <td align="center" th:text="${g.noRekening}">1234567890</td>
                    <td align="center" th:text="${g.namaBank}">BCA</td>
                    <td align="center" th:text="${g.bidang.namaBidang}">1</td>
                    <!--<td align="center" th:text="${g.bulan}">1</td>-->
                    <td th:switch="${g.bulan}">
                        <span th:case="'1'">Januari</span>
                        <span th:case="'2'">Februari</span>
                        <span th:case="'3'">Maret</span>
                        <span th:case="'4'">April</span>
                        <span th:case="'5'">Mei</span>
                        <span th:case="'6'">Juni</span>
                        <span th:case="'7'">Juli</span>
                        <span th:case="'8'">Agustus</span>
                        <span th:case="'9'">September</span>
                        <span th:case="'10'">Oktober</span>
                        <span th:case="'11'">November</span>
                        <span th:case="'12'">Desember</span>

                    </td>
                    <td align="center" th:text="${#numbers.formatDecimal(g.jumlah, 0, 'COMMA', 2, 'POINT')}">1</td>
                    <td align="center" th:text="${#numbers.formatDecimal(g.bpjsTk, 0, 'COMMA', 2, 'POINT')}">1</td>
                    <td align="center" th:text="${#numbers.formatDecimal(g.bpjsKs, 0, 'COMMA', 2, 'POINT')}">1</td>
                    <td align="center" th:text="${#numbers.formatDecimal(g.pph, 0, 'COMMA', 2, 'POINT')}">1</td>
                    <td align="center" th:text="${#numbers.formatDecimal(g.total, 0, 'COMMA', 2, 'POINT')}">1</td>
                    <td align="center">
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{/gaji/edit/{id}(id=${g.gajiId})}">Edit</a>
                            <a class="btn btn-sm btn-info"
                               th:href="@{/gaji/view/{id}(id=${g.gajiId})}">View</a>
                            <a class="delete btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?')" ;
                               th:href="@{/gaji/delete/{id}(id=${g.gajiId})}">Delete</a>
                        </div>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>

</body>
</html>