<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - View Details Gaji Pegawai</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
    <style>
        body {
            padding: 30px;
        }

        @media print {
            .panel-heading {
                display: none
            }
        }
    </style>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">

    <div class="container">


        <div class="container-fluid">
            <div>
                <table>
                    <tr>
                        <td><img class="img-fluid" height="120px" src="http://localhost:8080/images/logo-jabar.png"
                                 width="100px"
                                 alt="Kementrian Perikanan dan Kelautuan"></td>
                        <td align="center"><p>PEMERINTAH DAERAH PROVINSI JAWA BARAT<br>
                            DINAS KELAUTAN DAN PERIKANAN<br>
                            Jalan Wastukencana Nomor 17 Telepon : (022) 4203471<br>
                            Faksimil : (022) 4232541 Website: dkp.jabarprov.go.id e-mail: dkp@jabarprov.go.id<br>
                            B A N D U N G - 40117</p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>

            <strong>SLIP PENERIMAAN GAJI THL</strong>
            <strong>DINAS KELAUTAN DAN PERIKANAN PROVINSI JAWA BARAT</strong>
            <div class="col-md-12">
                <div class="panel panel-green">
                    <div class="panel-heading">Info Details Gaji Pegawai</div>
                    <div class="panel-body" style="padding-left: 5px;">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th width="35%">Nama Bidang</th>
                                <td><span th:text="${gaji.bidang.namaBidang}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">Nama Lengkap</th>
                                <td><b th:text="${gaji.nama}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">Bulan</th>
                                <td><span th:text="${gaji.bulan}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">No. Rekening</th>
                                <td><span th:text="${gaji.noRekening}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">Nama Bank</th>
                                <td><span th:text="${gaji.namaBank}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">Besarnya Honor</th>
                                <td>Rp <span
                                        th:text="${#numbers.formatDecimal(gaji.jumlah, 0, 'COMMA', 2, 'POINT')}"/>
                                </td>
                            </tr>
                            <tr>
                                <th width="35%">&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th width="35%">Potongan-potongan</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th width="35%">BPJS TK</th>
                                <td>Rp <span
                                        th:text="${#numbers.formatDecimal(gaji.bpjsTk, 0, 'COMMA', 2, 'POINT')}"/>
                                </td>
                            </tr>
                            <tr>
                                <th width="35%">BPJS Kesehatan</th>
                                <td>Rp <span
                                        th:text="${#numbers.formatDecimal(gaji.bpjsKs, 0, 'COMMA', 2, 'POINT')}"/>
                                </td>
                            </tr>
                            <tr>
                                <th width="35%">PPh 21</th>
                                <td>Rp <span th:text="${#numbers.formatDecimal(gaji.pph, 0, 'COMMA', 2, 'POINT')}"/>
                                </td>
                            </tr>
                            <tr>
                                <th width="35%">Total Penerimaan</th>
                                <td><b>Rp <span
                                        th:text="${#numbers.formatDecimal(gaji.total, 0, 'COMMA', 2, 'POINT')}"/>
                                </b>
                                </td>
                            </tr>
                            <tr>
                                <th width="35%">Terbilang</th>
                                <td><b><span th:text="${gaji.terbilang}"/></b>
                                </td>
                            </tr>

                            </tbody>
                        </table>


                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th width="35%">&nbsp;</th>
                                <td>Dikeluarkan di</td>
                                <td><span th:text="${gaji.tempat}"/></td>
                            </tr>
                            <tr>
                                <th width="35%">&nbsp;</th>
                                <td>Pada tanggal</td>
                                <td><span th:text="${#dates.format(gaji.createdDate, 'dd MMM yyyy')}"/></td>
                            </tr>
                            <tr>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Mengetahui / Menyetujui</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Ketua Pengguna Anggaran,</td>
                                <td>Bendahara Pengeluaran Pembantu,</td>
                                <td>Yang menerima,</td>
                            </tr>
                            <tr>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                            </tr>
                            <tr>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                            </tr>
                            <tr>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                            </tr>
                            <tr>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                                <th height="50%">&nbsp;</th>
                            </tr>
                            <tr>
                                <th>( <u><span th:text="${gaji.kpa.nama}"/> )</u></th>
                                <th>( <u><span th:text="${gaji.bendahara.nama}"/> )</u></th>
                                <th>( <u><span th:text="${gaji.nama}"/> )</u></th>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <a th:href="@{/gaji/list}" class="btn btn-warning btn-lg"> <i
                        class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                    to List</a>
                <a class="btn btn-success btn-lg print" id="print"> <i class="fa fa-print"
                                                                       aria-hidden="true"></i>&nbsp;Print</a>

            </div>
        </div>
        <script src="../../static/js/print.js" th:src="@{/js/print.js}"></script>
    </div>

</div>
</body>
</html>


</body>
</html>