<div class="navbar-default sidebar" role="navigation" layout:fragment="sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Input Data<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="active" th:href="@{/bidang/add}">Data Bidang</a></li>
                    <li><a th:href="@{/jabatan/add}">Data Jabatan</a></li>
                    <li><a th:href="@{/pegawai/add}">Data Pegawai</a></li>
                    <li><a th:href="@{/sk/add}">Data SK</a></li>
                    <li><a th:href="@{/pagu/add}">Data Pagu</a></li>
                    <!--<li><a th:href="@{/gaji/add}">Data Gaji</a></li>-->
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Lihat Data<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a th:href="@{/bidang/list}">Data Bidang</a></li>
                    <li><a th:href="@{/jabatan/list}">Data Jabatan</a></li>
                    <li><a class="active" th:href="@{/pegawai/list}">Data Pegawai</a></li>
                    <li><a th:href="@{/sk/list}">Data SK</a></li>
                    <li><a th:href="@{/pagu/list}">Data Pagu</a></li>
                    <!--<li><a th:href="@{/gaji/list}">Data Gaji</a></li>-->
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Penggajian<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a th:href="@{/gaji/add}">Perhitungan Gaji</a></li>
                    <li><a th:href="@{/gaji/list}">Daftar Gaji</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Laporan<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a th:href="@{/laporan/fisik}">Laporan Fisik</a></li>
                    <li><a th:href="@{/laporan/keuangan}">Laporan Keuangan</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>