<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2 th:text="'' + ${title} + ' Data bidang'"></h2>

        <div class="col-md-12">
            <form th:object="${bidang}" th:action="@{/bidang/save}" action="#" method="post" class="form-horizontal">

                <div class="form-group">
                    <label for="id" class="col-sm-2">ID Bidang : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{id}" class="form-control" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="kdBidang" class="col-sm-2">Kode Bidang : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{kdBidang}" class="form-control" maxlength="3" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="namaBidang" class="col-sm-2">Nama Bidang : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{namaBidang}" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"></input>
                        <a th:href="@{/bidang/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
</body>
</html>


</body>
</html>