<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2 th:text="'' + ${title} + ' Data bidang'"></h2>

        <div class="col-md-12">
            <form th:object="${bidang}" th:action="@{/bidang/save}" action="#" method="post" class="form-horizontal">

                <input type="hidden" name="id" th:field="*{id}">

                <div class="form-group">
                    <label for="kdBidang" class="col-sm-2">Kode Bidang : </label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="3" th:field="*{kdBidang}" class="form-control" id="kdBidang"
                               aria-describedby="kdBidang"
                               placeholder="Kode Bidang" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="namaBidang" class="col-sm-2">Nama Bidang : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{namaBidang}" class="form-control" id="namaBidang"
                               aria-describedby="namaBidang"
                               placeholder="Nama Bidang" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"></input>
                        <input type="reset" class="btn btn-info" value="Reset"></input>
                        <a th:href="@{/bidang/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>


        <h2>Daftar Bidang</h2>

        <div class="panel-body">

            <table class="table table-responsive table-sm table-striped table-hover table-bordered">
                <thead>
                <tr align="center">
                    <th>#</th>
                    <th>ID Bidang</th>
                    <th>Kode Bidang</th>
                    <th>Nama Bidang</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(allBidang)}" class="btn-warning">
                    <td colspan="4" align="center">Bidang Masih Kosong!!!</td>
                </tr>
                <tr th:each="b,i : ${allBidang}" align="center">
                    <td th:text="${i.index + 1}">1</td>
                    <td th:text="${b.id}">1</td>
                    <td th:text="${b.kdBidang}">1</td>
                    <td th:text="${b.namaBidang}">Dewi Purnamasari</td>
                    <td>

                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary"
                               th:href="@{/bidang/edit/{id}(id=${b.id})}">Edit</a>
                            <a class="delete btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?');"
                               th:href="@{/bidang/delete/{id}(id=${b.id})}">Delete</a>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>
</div>
</body>
</html>


</body>
</html>