<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>-->
    <script src="../../static/js/jquery.3.3.1.js" th:src="@{/js/jquery.3.3.1.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="../../static/js/jquery.formatCurrency-1.4.0.js"
            th:src="@{/js/jquery.formatCurrency-1.4.0.js}"></script>
    <script src="../../static/js/terbilang.js" th:src="@{/js/terbilang.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container">
        <div class="container-fluid">
            <h2>Daftar Laporan Keuangan</h2>
            <div class="col-md-12">
                <form th:object="${keuangan}" th:action="@{/laporan/keuangan}" action="#" method="post"
                      class="form-horizontal">

                    <!--<input type="hidden" name="id" th:field="*{id}">-->

                    <div class="form-group">
                        <label for="dpaId" class="col-sm-2">Laporan ID : </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" readonly id="lapId" th:field="*{id}">
                        </div>
                    </div>


                    <div class="form-group blu-margin">
                        <label for="bidang" class="col-sm-2">Bidang : </label>
                        <div class="col-sm-4">
                            <select class="form-control" th:field="*{bidang.id}" id="idBidang">
                                <option th:each="b : ${listBidang}" th:value="${b.id}"
                                        th:text="${b.kdBidang}+' : '+${b.namaBidang}" th:selected="${b.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dpaId" class="col-sm-2">Nomor DPA : </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" readonly id="dpaId">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kdProgram" class="col-sm-2">Kode Program : </label>
                        <div class="col-sm-4">
                            <input type="text" id="kdProgram" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kdKegiatan" class="col-sm-2">Kode Kegiatan : </label>
                        <div class="col-sm-4">
                            <input type="text" id="kdKegiatan" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kdRekening" class="col-sm-2">Kode Rekening : </label>
                        <div class="col-sm-4">
                            <input type="text" id="kdRekening" class="form-control" readonly>
                        </div>
                    </div>

                    <div class=" form-group">
                        <label for="jmlAnggaran" class="col-sm-2">Jumlah Anggaran : </label>
                        <div class="col-sm-4">
                            <input type="text" id="jmlAnggaran" class="form-control currency" readonly>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="jmlOrang" class="col-sm-2">Jumlah Orang : </label>
                        <div class="col-sm-4">
                            <input type="number" id="jmlOrang" class="form-control" readonly/>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="jmlBulan" class="col-sm-2">Jumlah Bulan : </label>
                        <div class="col-sm-4">
                            <input type="number" id="jmlBulan" class="form-control" readonly/>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td>Januari</td>
                            <td>Februari</td>
                            <td>Maret</td>
                            <td>April</td>
                            <td>Mei</td>
                            <td>Juni</td>
                            <td>Juli</td>
                            <td>Agustus</td>
                            <td>September</td>
                            <td>Oktober</td>
                            <td>November</td>
                            <td>Desember</td>
                        </tr>
                        <tr>
                            <th>T</th>
                            <td><input type="text" th:field="*{t1}" id="t1"></td>
                            <td><input type="text" th:field="*{t2}" id="t2"></td>
                            <td><input type="text" th:field="*{t3}" id="t3"></td>
                            <td><input type="text" th:field="*{t4}" id="t4"></td>
                            <td><input type="text" th:field="*{t5}" id="t5"></td>
                            <td><input type="text" th:field="*{t6}" id="t6"></td>
                            <td><input type="text" th:field="*{t7}" id="t7"></td>
                            <td><input type="text" th:field="*{t8}" id="t8"></td>
                            <td><input type="text" th:field="*{t9}" id="t9"></td>
                            <td><input type="text" th:field="*{t10}" id="t10"></td>
                            <td><input type="text" th:field="*{t11}" id="t11"></td>
                            <td><input type="text" th:field="*{t12}" id="t12"></td>
                        </tr>
                        <tr>
                            <th>R</th>
                            <td><input type="text" th:field="*{r1}" id="r1"></td>
                            <td><input type="text" th:field="*{r2}" id="r2"></td>
                            <td><input type="text" th:field="*{r3}" id="r3"></td>
                            <td><input type="text" th:field="*{r4}" id="r4"></td>
                            <td><input type="text" th:field="*{r5}" id="r5"></td>
                            <td><input type="text" th:field="*{r6}" id="r6"></td>
                            <td><input type="text" th:field="*{r7}" id="r7"></td>
                            <td><input type="text" th:field="*{r8}" id="r8"></td>
                            <td><input type="text" th:field="*{r9}" id="r9"></td>
                            <td><input type="text" th:field="*{r10}" id="r10"></td>
                            <td><input type="text" th:field="*{r11}" id="r11"></td>
                            <td><input type="text" th:field="*{r12}" id="r12"></td>
                        </tr>

                        </tbody>
                    </table>


                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 pull-right">
                <input type="submit" class="btn btn-success" value="Save"/>
                <input type="reset" class="btn btn-info" value="Reset"/>
                <a class="btn btn-success print" id="print"> <i class="fa fa-print"
                                                                aria-hidden="true"></i>&nbsp;Print</a>


            </div>
        </div>
    </div>
    <script src="../../static/js/rupiah.js" th:src="@{/js/rupiah.js}"></script>
    <script src="../../static/js/keuangan.js" th:src="@{/js/keuangan.js}"></script>
</div>


</body>
</html>
