<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - Sistem Informasi Akuntasi Penggajian</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">


        <h2>Input Data SK</h2>

        <div class="col-md-12">
            <form th:object="${sk}" th:action="@{/sk/save}" action="#" method="post" class="form-horizontal">

                <input type="hidden" name="skId" th:field="*{skId}">

                <div class="form-group">
                    <label for="nip" class="col-sm-2">Nomor SK : </label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{noSK}" class="form-control" id="nip"
                               aria-describedby="noSK"
                               placeholder="Nomor SK" required>
                    </div>
                </div>

                <div class="form-group blu-margin">
                    <label for="bidang" class="col-sm-2">Bidang : </label>
                    <div class="col-sm-4">
                        <select class="form-control" th:field="*{bidang.id}" id="id">
                        <option th:each="b : ${listBidang}" th:value="${b.id}"
                                th:text="${b.kdBidang}+' : '+${b.namaBidang}" th:selected="${b.id}"></option>
                        </select>
                    </div>
                </div>

                <div class=" form-group">
                    <label for="nama" class="col-sm-2">Tanggal : </label>
                    <div class="col-sm-4">
                        <input type="date" th:field="*{tglSK}" class="form-control" id="tglSK" aria-describedby="tglSK"
                               required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="tentang" class="col-sm-2">Perihal : </label>
                    <div class="col-sm-4">
                        <textarea class="form-control" cols="15" rows="10" name="tentang"
                                  th:field="*{tentang}"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save"/>
                        <input type="reset" class="btn btn-info" value="Reset"/>
                        <a th:href="@{/sk/list}" class="btn btn-warning"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
                            to List</a>

                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
</body>
</html>


</body>
</html>