<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <title>SIAP - List Surat Keputusan</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.js"></script>
    <!--th:src="@{/plugins/metisMenu/dist/metisMenu.min.js}"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
          th:href="@{/css/sb-admin-2.css}"/>
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
    <div class="container-fluid">

        <h2>Daftar Surat Keputusan</h2>

        <table class="table table-responsive table-sm table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th align="center">#</th>
                <th align="center">Nomer SK</th>
                <th align="center">Nama Bidang</th>
                <th align="center">Tanggal</th>
                <th class="text-center">Perihal</th>
                <!--<th align="center">Dibuat Tanggal</th>-->
                <th align="center">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sk,i : ${sk}">
                <td align="center" th:text="${i.index + 1}">1</td>
                <td align="center" th:text="${sk.noSK}">1</td>
                <td align="center" th:text="${sk.bidang.namaBidang}">1</td>
                <td align="center" th:text="${#dates.format(sk.tglSK, 'dd-MM-yyyy HH:mm:ss')}">10-10-2010</td>
                <td align="center" th:text="${sk.tentang}">1</td>
                <!--<td align="center" th:text="${#dates.format(sk.createdDate, 'dd-MM-yyyy HH:mm:ss')}">10-10-2010</td>-->
                <td align="center">
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-primary"
                           th:href="@{/sk/edit/{id}(id=${sk.skId})}">Edit</a>
                        <a class="delete btn btn-sm btn-danger"
                           onclick="return confirm('Are you sure you want to delete this item?');"
                           th:href="@{/sk/delete/{id}(id=${sk.skId})}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>

</body>
</html>